<!DOCTYPE html>
<html>
	<head>
		<title>Gil's home page</title>
		<%= csrf_meta_tag %>
	</head>
	<body>

		<h1>Welcome to <%= @title %></h1>
		<p>You can find me in app/views/pages/home.html.erb</p>
	</body>
</html>